@charset "utf-8";
/* CSS Document */

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", serif;
    font-weight: 400;
    font-style: normal;
}

html,body{
    background-color: #FFE5C2;
    margin: 0;
    padding: 0;
}

div.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    background: #fff;
    box-shadow: 0 0 5px 5px #666;
}

div.content{
    padding:0 30px;
}

div.content{
    line-height:  26px;
}

div,content table {
    border-collapse: collapse;
}

div.content table th,div.content table td{
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 30px;
}

div.content table thead tr{
    background: #ccc;
}

div.content table tbody tr:nth-child(5n+4){
    background: #bbb;
}

div.header{
    height: 160px;
    background: urL("../imgs/header.jpg");
}

div.navbar{
    height: 40px;
    background: #999;
}


div.footer{
    height: 60px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    background: #FFDABB;
}